*{
    margin: 0;
}
.main_menubar
{
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	/* background-color: black; */
	
}.logo
{
	color: white;
	width: 30%;
	justify-content: space-between;
}

.menu
{
	color: white;
	display: flex;
	/*flex-direction: row;*/
	justify-content: space-between;
	width: 50%;

	
}

a{
	color: white;
}
.menu 
{
	list-style: none;
	justify-content: space-between;
	display: flex;
	/*flex-direction: row;*/
}
.main
{
	background-image: url('/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg');
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
h1{
    text-align: center;
    height: 10vh;
    color: rgb(255, 255, 255);
    /* background-color: white; */
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}
.container {
position: relative;
width: 50%;

}

.image {
display: block;
width: 450px;
height: 350px;

}

.overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: #cfe606;
opacity: 0;
/* overflow: hidden; */
width: 450px;
height: 350px;
-webkit-transform: scale(0);
-ms-transform: scale(0);
transform: scale(0);
-webkit-transition: .3s ease;
transition: .3s ease;

}

.container:hover .overlay {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
opacity: 70%;
}

.text {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}
.all{
display: grid;
grid-template-columns: repeat(3, 1fr);
object-fit: cover;
}
footer{
    display: flex;
    height: 30vh;
    background-color: black;
    /* align-items: center; */
    padding: 20px 0px;
    /* justify-content: center; */
    color: white;
  }
  .links{
    display: flex;
    padding: 0px 100px;
    flex-direction: column;

  }
  .links a {
    text-decoration: none;
    padding: 5px 0px;
    color: grey;
  }
    .links a:hover {
    text-decoration: underline;
  }
  /* .map  iframe{ */
    /* border-radius: 20px;   */
	/* height: 30vh; */
	/* width: 90vh;   */
    
  /* } */
  .social{
    width: 18vh;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
  }

  .social a:hover{
  color: red;
  }
